.box {
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
}
.labels {
  margin: 0.6rem;
  display: flex;
  flex-direction: column;
}
.left {
  display: flex;
}
.input {
  margin: 0.6rem;
  display: flex;
  flex-direction: column;
}
.input input {
  width: 15rem;
  padding: 0.5rem;
  margin: 0.7rem;
  border: 2px solid #ccc;
  border-radius: 8px;
}
.labels label{
  width: 7rem;
  padding: 0.5rem;
  margin: 0.7rem;
}

